<!doctype html>
<html lang="en" dir="ltr" ng-app="jsTemplates">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>So you need a template engine..</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body ng-controller="TemplateController">
		<a href="https://github.com/garann/template-chooser" class="forkme"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
		<h1>Template-Engine-Chooser!</h1>
		<div class="criteria">
			<fieldset ng-class="{on: f1}">
				<legend ng-click="f1=!f1">All libs can be used in the browser. Do you need to use it on the server?</legend>
				<label>yes <input type="radio" ng-change="update()" ng-model="form.server" value="server" /></label>
				<label>no <input type="radio" ng-change="update()" ng-model="form.server" value="" /></label>
			</fieldset>
			<fieldset ng-class="{on: f2}">
				<legend ng-click="f2=!f2">How much logic should it have?</legend>
				<label>the entirety of JS <input type="radio" ng-change="update()" ng-model="form.logic" value="logicful" /></label>
				<label>just the basics <input type="radio" ng-change="update()" ng-model="form.logic" value="logicish" /></label>
				<label>none at all <input type="radio" ng-change="update()" ng-model="form.logic" value="logicless" /></label>
				<label>don't care <input type="radio" ng-change="update()" ng-model="form.logic" value="" /></label>
			</fieldset>
			<fieldset ng-class="{on: f3}">
				<legend ng-click="f3=!f3">Does it need to be one of the very fastest?</legend>
				<label>yes <input ng-change="update()" ng-model="form.speedy" type="radio" value="speedy" /></label>
				<label>no <input ng-change="update()" ng-model="form.speedy" type="radio" value="" /></label>
			</fieldset>
			<fieldset ng-class="{on: f4}">
				<legend ng-click="f4=!f4">Do you need to pre-compile templates?</legend>
				<label>yes <input ng-change="update()" ng-model="form.compile" type="radio" value="compile" /></label>
				<label>no <input ng-change="update()" ng-model="form.compile" type="radio" value="" /></label>
			</fieldset>
			<fieldset ng-class="{on: f5}">
				<legend ng-click="f5=!f5">Do you need partials?</legend>
				<label>yes <input ng-change="update()" ng-model="form.parts" type="radio" value="parts" /></label>
				<label>no <input ng-change="update()" ng-model="form.parts" type="radio" value="" /></label>
			</fieldset>
			<fieldset ng-class="{on: f6}">
				<legend ng-click="f6=!f6">Do you want a DOM structure, or just a string?</legend>
				<label>DOM <input type="radio" ng-change="update()" ng-model="form.dom" value="dom" /></label>
				<label>string <input type="radio" ng-change="update()" ng-model="form.dom" value="string" /></label>
				<label>don't care <input type="radio" ng-change="update()" ng-model="form.dom" value="" /></label>
			</fieldset>
			<fieldset ng-class="{on: f7}">
				<legend ng-click="f7=!f7">Aside from template tags, should it be the same language before and after rendering?</legend>
				<label>yes <input type="radio" ng-change="update()" ng-model="form.lang" value="format" /></label>
				<label>no <input type="radio" ng-change="update()" ng-model="form.lang" value="" /></label>
			</fieldset>
		</div>
		
		<div class="engines">  
			<div ng-repeat="template in templates" class="{{template.tags}} {{template.remove}}">
				<h2>{{template.name}} </h2>
				<a href="{{template.url}}">{{template.url | link }}</a>
				<span>{{template.size}}</span>
			</div>

		</div>
	</body>
  <script src="/angular/components/angular/angular.js"></script>
	<script src="script.js"></script>
</html>
